
{# 首页 #}
{%  extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Login {% endblock %}

{% block page_content %}
<!--<div class="page-header">-->
    <!--<h1>-->
        <!--Login-->
    <!--</h1>-->

<!--</div>-->
<div style="height:50px;background-color:blue;">
    <img src="../static/img/bg_img.jpg" width="100%"/>
</div>
{#    首页 要展示哪些东西？？

      首页只展示一张图片即可，基本浏览功能就是导航栏中的几个部分
#}

    {% if current_user.is_authenticated %}
        {{ current_user.username }}

    {% else %}
        Stranger

    {% endif %}



{# todo 这里展示首页内容  显示排版需要自己修改 #}

    {#  todo 实事要闻 #}
    {% for post in current_news %}

        {# 标题#}
        {{ post.title }}

        {# 内容 只限制40个字 #}
        {{ post.content | truncate(40) }}

    {% endfor %}


    {#  todo 工作动态 #}


    {% for post in work_trends %}

        {{ post.title}}

        {{ post.content | truncate(40) }}

    {% endfor %}

    {#  todo 活动集锦 #}


    {% for post in activity %}

        {{ post.title }}

        {{ post.content | truncate(40) }}

    {% endfor %}

{% endblock %}

{# todo 自行追加友情链接 写死就好 #}